{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load account %}
{% load allauth %}

{% block head_title %}
    {% trans "Confirm Email Address" %}
{% endblock head_title %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">

                        <h1 class="text-center">
                            {% trans "Confirm Email Address" %}
                        </h1>

                        {% if confirmation %}
                            {% user_display confirmation.email_address.user as user_display %}
                            {% if can_confirm %}
                                <p class="mt-4">
                                    {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}
                                </p>
                                {% url 'account_confirm_email' confirmation.key as action_url %}
                                <form method="post" action="{{ action_url }}">
                                    {% csrf_token %}
                                    <div class="text-center mt-4">
                                        <button type="submit" class="btn btn-primary">
                                            {% trans 'Confirm' %}
                                        </button>
                                    </div>
                                </form>
                            {% else %}
                                <p class="mt-4">
                                    {% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}
                                </p>
                            {% endif %}
                        {% else %}
                            {% url 'account_email' as email_url %}
                            <p class="mt-4">
                                {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}
                            </p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
