{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <h3>Task List:</h3>
    <ul>
        {% for task in tasks %}
            <li>
                <a class="btn btn-light" href="{% url 'tasks:task_detail' task.pk %}" style="width: 250px;">{{ task.title }}</a>
                {% if task.is_completed %}(Done){% endif %}
            </li>    
        {% endfor %} 
    </ul>

    <hr style="color: black; width: 7%; border: none; border-top: 5px dotted;">

    <form method="post" action="{% url 'tasks:task_list' %}">{% csrf_token %}
        <div class="d-flex justify-content-center align-items-center">
            {{ create_form.title }}
            <button class="btn btn-success" type="submit" style="margin: 5px;">ADD</button>
        </div>
        
    </form>

{% endblock content %}


