{% extends "_base.html" %}

{% block content %}

    <h1>List of Tasks</h1>
    <ul>
        {% for task in tasks %}
            <li>
                <h3><a href="{% url 'tasks:task_detail' task.pk %}">{{ task.title }}</a></h3>
                {% if task.is_completed %}(Done){% endif %}
            </li>    
        {% endfor %} 
    </ul>

    <h2>Add new Task</h2>
    <form method="post" action="{% url 'tasks:task_list' %}">{% csrf_token %}
        {{ create_form.as_p }}
        <button type="submit">ADD</button>
    </form>

{% endblock content %}


