h3 {
    margin-top: 10px;
}

.task-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

hr {
    color: black;
    width: 7%;
    border: none;
    border-top: 5px dotted;
}

.task-add-btn {
    display: inline-block;
    text-align: center;
    line-height: 18px;   /* Set the line height to match the button height */
    vertical-align: middle;
}

.completed-task-btn {
    text-decoration: line-through;
    color: #333;
}

.task-creation-form, .group-creation-form {
    position: fixed;
    bottom: 50px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.task-checkbox {
    margin-right: 5px;
}

input {
    width: 250px;
}