.task-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.task-checkbox:checked {
    background-color: #4caf50;
    border: 2px solid #4caf50;
}

hr {
    color: black;
    width: 7%;
    border: none;
    border-top: 5px dotted;
}

.task-add-btn {
    display: inline-block;
    text-align: center;
    line-height: 18px; /* Set the line height to match the button height */
    vertical-align: middle;
}

.completed-task-btn {
    text-decoration: line-through;
    color: #333;
}